.slider {
  margin: auto 0;

  &__block {
    position: relative;
    display: block;
  }

  &__switсher {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    font-size: 34px;
    &:hover {
      сursor: pointer;
    }

    &--next {
      right: 0;
    }

    &--prev {
      left: 0;
    }
  }

  &__item {
    display: none;
    width: 100%;

    &--active {
      display: block;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    background-color: #ffe365;
  }

  &__btn {
    background-color: #ffe365;
    font-size: 24px;
    font-weight: 600;
    padding: 15px 25px;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: #ffde48;
    }
  }
}
