.slider {
  margin: auto 0;

  &__block {
    position: relative;
    display: block;
  }

  &__switсher {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    &:hover {
      сursor: pointer;
    }

    &--next {
      right: 15px;
    }

    &--prev {
      left: 15px;
      transform: translate(+50%, -50%);
    }
  }

  &__item {
    display: none;
    width: 100%;

    &--active {
      display: block;
    }
  }

  &__btn {
    background-color: #ffe365;
    font-size: 24px;
    font-weight: 600;
    padding: 15px 25px;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: #ffde48;
    }
  }
}
